<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>English</key>
		<string>Hattori</string>
		<key>Japanese</key>
		<string>服部</string>
	</dict>
	<dict>
		<key>English</key>
		<string>Mamiya</string>
		<key>Japanese</key>
		<string>間宮</string>
	</dict>
	<dict>
		<key>English</key>
		<string>Aoyama</string>
		<key>Japanese</key>
		<string>青山</string>
	</dict>
	<dict>
		<key>English</key>
		<string>Ishikawa</string>
		<key>Japanese</key>
		<string>石川</string>
	</dict>
	<dict>
		<key>English</key>
		<string>Iganosaki</string>
		<key>Japanese</key>
		<string>伊賀崎</string>
	</dict>
</array>
</plist>
